---
layout: default
title: "News and Updates"
description: >-
  Read the latest announcements and posts from Discs and Machines and Sunny's
  Gramophone Museum and Records Archive.
---

<!-- Include Page Header -->
{% include page-title.html %}

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <span>News<br></span>
          <h2>News</h2>
            {% for post in site.posts %}

            <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
            <p>posted on {{ post.date | date: "%B %d, %Y" }}</p>

            {% endfor %}
        </div>
        <!-- End Section Title -->
  
      </section><!-- /Starter Section Section -->



