{% assign page-slug = page.name | replace: '.html', '' %}

{% if page-slug == "index" %} {% endif %}

<header id="header" class="header {% if page-slug == 'index' %} fixed-top {% else %} sticky-top {% endif %} ">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><span class="mu-email">javascript-required</span></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span class="mu-phone">javascript-required</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.facebook.com/discsandmachines/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.youtube.com/@9387473424" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">Discs and Machines</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Features</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>

    </div>

  </header>